{% extends 'base.html.twig' %}
{% block title %}Meetups{% endblock %}
{% set single = null %}
{% block body %}
    <h1>Our next meet</h1>
    {% for flashMessage in app.session.flashbag.get('warning') %}
        {{ flashMessage }}
    {% endfor %}
    {% for talk in talks %}
        {% if date(talk.meetup.fromDate) > date() and talk.speaker is not null and single is null %}
            <div class="card meet">
                <div class="image"><img
                            src="{{ asset('build/images/meet-holding.jpeg') }}"
                            alt="@{{ talk.speaker.twitterhandle }}"></div>
                <div class="details">
                    <div class="top">
                        <h2 class="title">{{ talk.title }}</h2>
                        <h3 class="speaker">
                            <a href="https://www.twitter.com/{{ talk.speaker.twitterhandle }}"
                               target="_blank">{{ talk.speaker.fullName }}</a>
                        </h3>
                        <p class="description">{{ talk.abstract }}</p>
                        <p>
                            <small><strong>Event starts at {{ talk.time | date('ga \\o\\n  D jS M') }}, talk begins 30
                                    minutes later</strong></small>
                        </p>
                    </div>
                    <div class="bottom">
                        <a href="{{ url('registration', {'id' : talk.id }) }}" class="button register orange">Click to
                            attend</a>
                        <a href="{{ url('page', {'slug': 'contact'}) }}"
                           class="button red location"></a>
                    </div>
                </div>
            </div>
            {% set single = true %}
        {% endif %}
    {% endfor %}
{% endblock %}