{% extends 'base.html.twig' %}
{% block meta %}
    {{ parent() }}
    <meta name="robots" content="noindex,nofollow"/>
{% endblock %}
{% block title %}Register for our meet{% endblock %}
{% block body %}
    <div class="flex top-margin-3">
        <div class="f1"></div>
        <div class="card f6">
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            {% endfor %}
            {% if form is defined %}
                {{ form_start(form) }}
                <h1>Register for our meetup</h1>
                {{ form_errors(form) }}

                <div>
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </div>

                <div>
                    {{ form_label(form.email) }}
                    {{ form_errors(form.email) }}
                    {{ form_widget(form.email) }}
                </div>

                <div class="checkbox-container">
                    {{ form_errors(form.consent) }}
                    {{ form_widget(form.consent) }}
                    {{ form_label(form.consent, null, {'label_attr': {'class': 'small'}}) }}
                </div>

                <p class="small"> This information will be stored in a database for up to 60 days. This information
                    is only used to predict attendance numbers ( for pizza and beer purchases ) and to contact raffle
                    winners. PHP Hampshire will never contact you without your consent using the information you
                    provide.
                    <br><br>
                    If you wish to have your information removed, please contact <a href="mailto:info@phphants.co.uk">info@phphants.co.uk</a>
                    and we will do our best to comply with your request in a timely manner.</p>

                <div>
                    {{ form_widget(form.submit) }}
                </div>
                {{ form_end(form) }}
            {% endif %}
        </div>
        <div class="f1"></div>
    </div>
{% endblock %}