{% extends 'admin/base.html.twig' %}
{% block title %}Organisers admin{% endblock %}
{% block main %}
    {{ parent() }}
    <table>
        <thead>
        <tr>
            <th>Date</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for event in events|default %}
            <tr>
                <td><a href="{{ url('event_member_management', {'id':event.id}) }}">{{ event.date|date('j\\<\\s\\u\\p\\>S\\<\\/\\s\\u\\p\\> F Y')|raw }}</a></td>
                <td>
                    <a href="{{ url('event_member_management', {'id':event.id}) }}"><i class="fa fa-users"></i></a>
                    <a href="{{ url('event_edit', {'id':event.id}) }}"><i class="fa fa-edit"></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <nav>
        <a class="button small" href="{{ url('event_add') }}">Add event</a>
    </nav>
{% endblock %}