{% extends 'admin/base.html.twig' %}
{% block title %}Organisers admin{% endblock %}
{% block main %}
    {{ parent() }}
    <table>
        <thead>
        <tr>
            <th>Username</th>
            <th>Email</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for organiser in organisers|default %}
            <tr>
                <td>{{ organiser.displayName }}</td>
                <td>&lt;{{ organiser.email }}&gt;</td>
                <td><a href="{{ url('organiser_edit', {'organiser':organiser.id}) }}"><i class="fa fa-edit"></i></a><a
                            href="{{ url('organiser_delete', {'organiser':organiser.id}) }}"><i
                                class="fa fa-trash-alt"></i></a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <br>
    <nav>
        <a class="button small" href="{{ url('organiser_add') }}">Add new</a>
    </nav>
{% endblock %}
