<!DOCTYPE html>
<html>
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
    {% endblock %}
    <title>{% block title %}{% endblock %} - PHP Hampshire</title>
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
<nav class="menu">
    <ul class="navigation app-menu">
        <li><a href="{{ url('page') }}">Home</a></li>
        <li><a href="{{ url('page', {'slug': 'meetups'}) }}">Meetups</a></li>
        <li><a href="{{ url('page', {'slug': 'videos'}) }}">Videos</a></li>
        <li><a href="{{ url('page', {'slug': 'sponsors'}) }}">Sponsors</a></li>
        <li><a href="{{ url('page', {'slug': 'team'}) }}">Team</a></li>
        <li><a href="{{ url('page', {'slug': 'contact'}) }}">Contact</a></li>
    </ul>
    <div class="close">X</div>
</nav>
<div class="gradient-wrapper">
    {% include 'header.html.twig' %}
    {% block hero %} {% endblock %}
</div>
<div class="wrapper content">
    {% block body %}{% endblock %}
</div>
<div class="wrapper">
    <a href="mailto:speak@phphants.co.uk" class="announcement">We are looking for speakers for our monthly meetups! 
        To volunteer, <strong>please email us</strong>.</a>
</div>
{% include 'footer.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('build/app.js') }}" rel="prefetch"></script>
{% endblock %}
</body>
</html>
